 #skills2,#portfolio2,#resume2,#contact2{
    display: block;
   }    
   
 nav{
      display:none;
  }
  
  #home,#skills2,#portfolio2,#resume2,#contact2{
      width: 80%;
      height: 300px;
      margin:25px auto 0;
  }
  #home article{
      width: 98%;
      margin:0 auto 20px;
  }
  
.aside{
    float: left;
    width:98%;
    height:auto;
    background:#d3d3d3;
    border:5px solid #c0c0c0;
    border-radius: 1%;
    margin-bottom: 20px;
}


#skills2 article{
    width: 40%;
    margin-right:10px;
    height: 620px;
}

#skills2 .content,#portfolio2 .content,#resume2 .content,#contact2 .content{
     width:80%;
     height: 100%;
     margin:0 auto;
 }
 #skills2 .content,#portfolio2 .content{
     margin-bottom: 40px;
 }
#skills2 .content header h1,#portfolio2 .content header h1,#resume2 .content header h1,#contact2 .content header h1{
     text-align: left;
     margin-left: 0;
 }
#skills2 .content header,#portfolio2 .content header,#resume2 .content header,#contact2 .content header{
     border-bottom: 1px solid black;
 }
#skills2 section,#resume2 section,#contact2 section{
     margin-top: 30px;
 }
#skills2 .skills{
    border:1px solid red;
     border-radius: 3%;
     margin-top: 10px;
     height: 20px;
    
 }
#skills2 .skills h5{
     float:left;
     background-color: green;
     height: 100%;
     width: 50%;
     
 }
#skills2 .content .skills p{
    float:right;
    text-align: right;
    width: 40%;
    height: 100%;
    
 }
 
#skills2 section h3,#resume2 section h3,#contact2 section h3{
     border-bottom:0.5px solid black;
     font-size:20px;
     line-height: 1;
     padding-bottom: 10px;
 }

 
#skills2 section img,#resume2 section img,#contact2 section img{
     width:20px;
     height:20px;
     background-color: #d3d3d3;
     margin-right: 10px;
     float:left;
 }
#skills2 .content section p{
     text-align: left;
     width:100%;
 }
 
 
 
 #portfolio img{
     width:100%;
     height: 250px;
     margin-top: 20px;
}

#portfolio-1,#portfolio-2,#portfolio-3 {
    text-align:center;
    position: relative;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#portfolio-1 span,#portfolio-2 span,#portfolio-3 span{
    background: rgba(0, 92, 44, 0.5);
    width:100%;
    height:0px;
    text-transform:uppercase;
    font-size:11px;
    line-height:60px;
    position:absolute;
    overflow: hidden;
    bottom:0px;
    left:0;
    z-index: 9910;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

#portfolio-1:hover span,#portfolio-2:hover span,#portfolio-3:hover span{
    bottom:0;
    height:60px;
    color: #ffffff;
}


#portfolio2 .aside,#contact2 .aside{
     overflow-y: visible;
}

#resume2 section img{
    border-left:2px solid green;
    padding-left: 15px;
}
#resume2 section h3{
    color:green;
    border-bottom:none;
}
#education p,#work-experience p{
    border:2px solid green;
    height: 60px;
    margin-bottom: 30px;
    background-color: grey;
}



iframe{
    width: 100%;
    height: 200px;
}

input{
    margin-top:20px;
    padding: 10px;
    width:95%;
    border:none;
}
textarea{
    margin-top: 20px;
    width: 95%;
    height: 80px;
    padding:10px;
    border:none;
}
button{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 5px;
    background-color: green;
    padding:10px;
}
form{
    width: 100%;
}
 

 

 